.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.button {
  margin-left: 1em;
}

h1 {
  font-size: 2em;
  text-align: center;
}
h2{
  text-align:right;
}
.wrap{
  width: 80%;
  margin: auto;
}
.logo{
  margin-left: 36%;
}
body{
  background-size:100% 100%;
  background-image: url("./background.png");
}
.container{
  width:60%;
  height: 300px;
}
.learningSchedulebox{
  display: flex;
  justify-content: space-between;
  margin-top: 250px;
}
.vocabularyListbox{
  display: flex;
  justify-content: space-between;
}
.scheduleBox{
  padding: 10px 25px 10px 25px;
  display: block;
  background-color:rgb(243, 241, 241);
  border-radius: 20px;
  box-shadow: 1px 1px 2px grey;
}
.days{
margin: 30px;
  margin-left: auto;
  margin-right: auto;
width: 200px;
height: 200px;
background-color:rgba(240, 195, 48, 0.705);
border-radius: 50%;
box-shadow: 1px 1px 10px grey;
}
.daysText{
margin-left: 43%;
  position: relative;
  text-align: center;
line-height: 200px;
font-size: 3em;
}
.sanDaysText{
position: absolute;
top:53%;
left:48%;
line-height: 200px;
font-size: 3em;
}
.sanDaysDays{
  position: absolute;
  top:55%;
  left:52%;
  line-height: 200px;
  font-size: 1em;
}
.startLearning{
  background-color:#004a80;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
  font-family: monospace;
  font-style: italic;
  box-shadow: 1px 1px 2px grey;
}
.btnChange{
  padding:0 5px 0 5px;
  margin: 5px;
}
.coverPic{
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 6px gray;
}
.ReactModal__Content{
    margin: 0 auto;
    margin-top: 120px;
    width: 40%;
    height: 36%;
    box-shadow: 2px 2px 5px grey;
}
.modalTittle{
  font-size: 1.2rem;
text-align: center;
font-weight: bold;
color: #004a80;
margin-bottom: 20px;
}
.modalLable{

  color:teal;
}
.modalbtn{
  display: flex;
  justify-content: center;
margin: 0 10px 0 10px;
}
.LearningdBox{
  width: 66%;
  display: block;
  margin: auto;
  background-color:rgb(243, 241, 241);
  box-shadow: 1px 1px 2px grey;
  padding-bottom: 20px;
}
#clickableArea{
height: 160px;
display: block;
}
.theEnglishWord{
  text-align: center;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
  color: white;
}
.chineseMeaning{
  text-align: center;
  font-size: 1.6rem;
  padding: 25px;
}
.phoneticSymbols{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.learningbtnunknow{
  width:30%;
  background-color:darkseagreen;
  font-size: x-large;
}
.learningbtnknow{
  width:30%;
  background-color:rgb(10, 100, 189);
  font-size: x-large;
  color: white;
}
.goBackbtn{
width: 60px;
margin-top: 0;
padding: 0 20px 0 20px;
background-color: rgb(10, 100, 189);
border-style: none;
color: white;
}

.canvas{
  position: absolute;
  margin-top: 40px;
  left: 0;
}
.progressBox{
  padding: 10px 80px 0 80px;

}
.progressTittle{
  font-size: 1.2rem;
  font-family: cursive;
  color:darkblue
}
.progressItem{
  display: flex;
  margin: 8px 0 8px 0;
}
.progressText{
  width: 30%;
  font-family: cursive;
  color: rgb(10, 100, 189);
}
.clock{
padding-top: 10px;
}
.resultText{
  text-align: center;
  font-size: 1.2rem;
  color: darkblue;
  font-family: sans-serif;
}
.resultNumber{
  color: crimson;
  font-size: 1.2rem;
}
.changeWordListForm{
  padding: 40px;
}
.fileFormat{
  margin: 20px 0 20px 0;
}
.wordListSubmit{
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.chooseFile{
  margin-bottom: 1.2rem;
}
.finishAll{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: serif;
  color:rgb(214, 35, 140);
  margin-bottom: 10px;
  text-shadow: 1px 1px 4px darkgray;
}